.container {
  background-color: #eee;
  width: 800px;
  margin: 30px auto;
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 30px; }
  .container .item--1 {
    background-color: orangered; }
  .container .item--2 {
    background-color: palegoldenrod; }
  .container .item--3 {
    background-color: palegreen; }
  .container .item--4 {
    background-color: rebeccapurple;
    grid-row: 2 / 3;
    grid-column: 2 / span 2; }
  .container .item--5 {
    background-color: rosybrown;
    grid-row: 1 / 2;
    grid-column: 3 / 4; }
  .container .item--6 {
    background-color: sandybrown; }
